header {
    color: #7451eb;
    font-family: 'Montserrat';
    text-align: center;
}

body{
    font-family: 'Open Sans';
    text-align: center;
    background-color: #fafafa;
}


form {
    /* Uniquement centrer le formulaire sur la page */
    margin: 0 auto;
    width: 800px;
    /* Encadré pour voir les limites du formulaire */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}

textarea{
    width: 800px;
    height: 100px;
}

.bt{
    font-family: 'Montserrat';
    font-size: 16px;
    color: #7451eb;
    background-color: #fafafa;
    border: 1px solid #7451eb;
    border-radius: 1em;
    padding: 15px 32px;
    transition-duration: 0.4s;
    margin: 15px;
}

.bt:hover {
    color: white;
    background-color: #7451eb; 
  }

.bt_tag{
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: bold;
    color: #6a6969;
    background-color: #fafafa;
    border: 1px solid #F48024;
    border-radius: 1em;
    padding: 15px 32px;
    transition-duration: 0.4s;
    margin: 5px;
}

.bt_tag:hover {
    color: white;
    background-color: #F48024; 
  }

.bt_notag{
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: bold;
    text-decoration:line-through;
    color: #6a6969;
    background-color: #d8d8d8;
    border: 1px solid #363636;
    border-radius: 1em;
    padding: 15px 32px;
    transition-duration: 0.4s;
    margin: 5px;
}
